h1 
{
 font-size: 60px;
 font-family: 'Courier New', Courier, monospace;
 text-align: center;
  text-decoration: underline;
 background-color: black;
 color: white;
   
}
a {
    background-color: #FF88CC;
}

li{
    font-family :'Courier New', Courier, monospace;
}

.contentBackground
{
   background-color: red; 
}
